<div id="response">
    {% if json %}
        <blockquote>
            "{{ json }}"
            <footer>
                <cite>🤖 Max le robot</cite>
            </footer>
        </blockquote>
    {% endif %}
</div>